# Env
.env
.env.*

# Banco local
data.db
server/data.db
*.db
*.sqlite
*.sqlite3

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules

# Build/cache
dist
dist-ssr
.vite
*.local

# Python
__pycache__/
*.pyc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?